%li{ id: dom_id(epic), data: { labels: epic.label_ids, id: epic.id } }
  .issue-box
    - if @can_bulk_update
      .issue-check.hidden
        = check_box_tag dom_id(epic, "selected"), nil, false, 'data-id' => epic.id, class: "selected-issuable"
    .issuable-info-container
      .issuable-main-info
        .issue-title.title
          %span.issue-title-text.qa-epic-title-text
            = link_to epic.title, epic_path(epic)
        .issuable-info
          %span.issuable-reference
            = epic.to_reference(@group)
          %span.issuable-authored.d-none.d-sm-inline-block
            &middot;
            opened #{time_ago_with_tooltip(epic.created_at, placement: 'bottom')}
            by #{link_to_member(@group, epic.author, avatar: false)}
          - if epic.labels.any?
            &nbsp;
            - epic.labels.each do |label|
              = render_label(label.present(issuable_subject: @group), tooltip: true, link: group_epics_path(@group, label_name:[label.name]), css: 'label-link')
